<div class="container pt-5 pb-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card border-0" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/question-2519654_640.png" width="50" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-outline-dark d-flex justify-content-center text-center">Mais...</a>
                </div>
                <hr class="mt-4 mb-4">
                <input type="text" class="form-control mb-3 w-100" placeholder="Pesquisa example">
                <button class="btn btn-outline-warning w-100">Pesquisar</button>
            </div>
        </div>
        <div class="col-md-8">
            <div>
                <h3 class="text-center mb-4 text-monospace">Digite abaixo seu comentário</h3>
                <div class="form-group">
                    <label for="name" class="text-monospace">Nome</label>
                    <input type="text" name="name" id="name" class="form-control" placeholder="Name example" [(ngModel)]="post.nome">
                </div>
                <div class="form-group">
                    <label for="title" class="text-monospace">Título</label>
                    <input type="text" name="title" id="title" class="form-control" placeholder="Title example" [(ngModel)]="post.titulo">
                </div>
                <div class="form-group">
                    <label for="message" class="text-monospace">Mensagem</label>
                    <textarea name="message" id="message" cols="30" rows="4" class="form-control" placeholder="Message example" [(ngModel)]="post.mensagem"></textarea>
                </div>
                <div class="d-flex justify-content-center pt-4">
                    <button class="btn btn-outline-info w-25" (click)="newPost()">Publicar</button>
                </div>
            </div>
            <hr class="mb-4 mt-5">
            <h4 class="text-center mb-5">Comentários adicionados</h4>
            <div class="container">
                <div class="card mb-4" *ngFor="let post of listPost">
                    <div class="card-header">
                        <h5 class="card-title">{{ post.titulo }}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ post.nome }} - id: {{ post.id }}</p>
                        <p class="card-text">{{ post.mensagem }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
