<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-2">
        <a class="navbar-brand">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/feed">Feed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contato">Contato</a>
                </li>
            </ul>
            <form class="form-inline">
                <input class="form-control pr-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                <button class="btn btn-outline-success pl-1" type="submit">Pesquisar</button>
            </form>
        </div>
    </nav>
</div>
